body{
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
    color: white;
}
.text-center{
    text-align: center;
    color: black;
}
.input{
    border-radius: 9px;
    width: 222px;
    padding: 4px;
    font-size:30px;
}
.container{
    text-align: center;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    margin:auto;
}
.row{
    margin: 8px 0;
}
.operand{
    background-color: white;
    padding: 20px;
    margin: 0 5px;
    border-radius: 16px;
    width: 65px;
    font-size:15px;
}
